{{>head}}

{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>Sasuke Uchiha</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex eum earum adipisci aspernatur, facere, expedita
            in consequatur commodi iusto porro sequi ipsum quis. Autem mollitia eius consequuntur. Et, dolores dicta.
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/sasuke.jpg" alt="img-thumbnail">
    </div>
</div>
{{>footer}}